.card(id=data.reviewId)
    .card-header 
        .card-profile 
            img(src='/assets/icon/pig-profile.png', style='width:60px')
            p #{data.userName}
        .card-store
            p #{data.storeName}
    img(src=data.photo, style='width:100%')
    .tag-layout(hx-get="/review/tags/"+data.reviewId hx-trigger="load" hx-swap="innerHTML")
    .card-review 
        p #{data.review}
    .card-reply 
        p 댓글 15개
        

