case tag.type
  when "main"
    label.switch(class=tag.type+"-tag")
      input( content=`#${tag.tagName}` type='checkbox' value=tag.tagId name='tagId'
      hx-post="/main/cards" hx-trigger="click" hx-target="#card-list-layout")
      span #{tag.tagName}
  when "card"
    input(class=tag.type+"-tag "+tag.likes id=tag.tagId type='button' value=`#${tag.tagName}`
    onclick="handleOnClickCardTag(this);")
  when "add"
    input(class=tag.type+"-tag" id=tag.tagId type='button' value=`#${tag.tagName}`
    onclick="handleOnClickAddTag(this);")